* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resume2 {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #15293c;
    color: white;
}

.profile-image img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 3px solid white;
}

.header-text h1 {
    font-size: 46px;
    margin: 0;
    font-weight: 400 !important;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.header-text h3 {
    font-size: 24px;
    margin: 0;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(230, 228, 228);
}

.resume-body {
    display: flex;
}

.sidebar {
    width: 55%;
    background-color: #15293c;
    color: white;
    padding: 20px;
}

.sidebar section {
    margin-bottom: 20px;
}

.sidebar h3 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.about-me p,
.personal-info p,
.languages span,
.personal-skills span {
    margin: 0 0 10px;
}

.skill-bar ,.language-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 20px;
    margin-top: 4px;
}

.skill-level , .language-level{
    height: 100%;
    border-radius: 5px;
    background-color: #3b82f6;
}

.main-content {
    width: 70%;
    padding: 20px;
}

.main-content section {
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 27px !important;
    font-weight: 100 !important;
    padding-bottom: 20px;
    margin-top: 0; 
    margin-left: 0; 
}

.personal-info {
    margin-bottom: 20px;
}

.personal-info h3 {
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}

.personal-info p {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    color: rgb(230, 228, 228);
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.personal-info p i {
    margin-right: 20px;
}

.about-me p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    text-align: left;
    font-weight: 300;
    color: rgb(230, 228, 228);
}

.Work-experience h3,
.Education h3,
.awards h3 {
    background-color: #15293c;
    color: white;
    text-align:center;
    padding: 10px 0;
    margin: 0;
    width: 60%;
}

.sidebar .Work-experience,
.sidebar .Education,
.sidebar .awards {
    margin-bottom: 30px; 
}

.Work-experience h3,
.Education h3,
.awards h3 {
    margin-left: -20px; 
    padding-left: 20px; 
}
.Education-item,.Experience-item {
    display: flex;
    margin-bottom: 20px;
}

.Education-duration,.Experience-duration {
    width: 120px; 
    flex-shrink: 0; 
    text-align: right;
    margin-right: 90px;
    font-weight: bold;
    font-style: italic;
    margin-top: 23px;
    font-size: larger;
}


.Education-details,.Experience-details {
    display: flex;
    flex-direction: column;
}

.Education-header,.Experience-header {
    font-size: larger;
    margin-bottom: 0;
    display: inline; 
    margin-top: 23px;
    font-style: italic;
    text-transform: capitalize;/* Adjust spacing between duration and header */
}

.Education-content,.Experience-content {
    
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize; 
    line-height: 25px;/* Make institution and location italic */
}
.awards {
   
    border-radius: 8px;
    
}


.award-item {
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #15293c;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.award-item h6 {
    margin: 0;
    font-size: 1em;
    color: #282828;
}

