.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #666;
}

.content {
    display: flex;
}

.left-column {
    width: 30%;
    padding-right: 20px;
    background-color: #f2f2f2; /* light grey background */
    padding: 20px;
    border-radius: 10px;
}

.right-column {
    width: 70%;
    padding-left: 20px;
}

.left-column section,
.right-column section {
    margin-bottom: 20px;
}

.left-column h3,
.right-column h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 2px dotted #5a5858;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.left-column ul,
.right-column ul {
    list-style-type: none;
    padding: 0;
}

.left-column ul li,
.right-column ul li {
    background: #dbdbdb;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.left-column p i {
    margin-right: 10px;
}

.download-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.download-button:hover {
    background-color: #138496;
}
