.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-wrapper {
  width: 30%;
  padding-right: 20px;
  height: calc(100vh - 40px); /* Adjust height as needed */
  overflow-y: auto;
}

.resume-wrapper {
  width: 70%;
  height: calc(100vh - 40px); /* Adjust height as needed */
  overflow-y: auto;
}
